files:
  "/etc/nginx/conf.d/webapp.conf":
    mode: "000644"
    owner: webapp
    group: root
    content: |
      # The load balancer is configured to forward requests on port 80 and 443 to 8080
      # and 80 respectively. If 8080 the request is insecure and should be redirected
      # to HTTPS
      # 80 => 8080
      # 443 => 80
      server {
        listen  8080;
        rewrite ^ https://$host$request_uri? permanent;
      }
