packages:
  yum:
    monit: []
files:
  "/etc/monit.d/resque_worker":
    mode: "000644"
    owner: webapp
    group: webapp
    content: |
      set httpd port 2812
        allow localhost
        allow 127.0.0.1
      check process resque
        with pidfile /var/app/pids/resque.pid
        start program = "/bin/sh -l -c 'cd /var/app/current; nohup rake environment resque:work QUEUE=* TERM_CHILD=1 PIDFILE=/var/app/pids/resque.pid >> /var/app/logs/resque.log 2>&1'" as uid webapp and gid webapp
        stop program = "/bin/sh -c 'cd /var/app/pids && kill -9 $(cat resque.pid) && rm -f resque.pid; exit 0;'"
        if totalmem is greater than 300 MB for 10 cycles then restart  # eating up memory?
        group resque_workers
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01monit_restart_resque.sh":
    mode: "000754"
    owner: webapp
    group: webapp
    content: |
      #!/bin/sh
      # this could be problematic if a worker is working... 
      monit restart resque
commands:
  remove_bak:
    command: "rm -f /etc/monit.d/resque_worker.bak"
    ignoreErrors: true
service:
  sysvinit:
    monit:
      ensureRunning: true
      enabled: true
